requests
edge-tts
win10toast
winotify
pyautogui
pywhatkit
playsound==1.2.2
psutil
selenium
webdriver-manager
gtts
SpeechRecognition
inf_STT
yt_dlp
google-generativeai
pyaudio
pytesseract
pillow
opencv-python
scikit-learn
